/* Hover Anim */
.wrapper__2ea32 .link__2ea32 /* channels */,
.membersWrap_c8ffbb .container__91a9d /* members */,
.channel__972a0 /* dms */,
.side_b3f026 .item_b3f026 /* settings */ {
    transition: margin-left 0.2s ease;
}
.wrapper__2ea32:hover .link__2ea32,
.side_b3f026 .item_b3f026:hover {
    box-shadow: 0px 2px 0px 0px #FFFFFF0f, 
    0px 2px 8px 0px #00000040,
    inset 0px 8px 8px 0px #FFFFFF07 !important;
outline: 1px solid #ffffff10 !important;
outline-offset: -1px !important;
background-color: transparent !important;
    
}
.membersWrap_c8ffbb .container__91a9d:hover,
.channel__972a0:hover {
    margin-left: 18px;
    
    
}

[role="article"]:hover{
    background-color: rgba(5, 5, 5, .18) !important;
    backdrop-filter: blur(150px) !important; 
    box-shadow: inset 0px 2px 0px 0px #00000020, inset 0px 2px 8px 0px #00000040 !important;
    border-radius: 12px !important;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.memberInner__5d473{
    right: 10px !important;
    padding: 3px !important;
}

.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32:hover .link__2ea32{
    background-color: rgba(5, 5, 5, .18) !important;
backdrop-filter: blur(150px) !important; 
box-shadow: inset 0px 2px 0px 0px #00000020, inset 0px 2px 8px 0px #00000040 !important;
}


