/* Hover Anim */
.wrapper__2ea32 .link__2ea32 /* channels */,
.membersWrap_c8ffbb .container__91a9d /* members */,
.channel__972a0 /* dms */,
.side_b3f026 .item_b3f026 /* settings */ {
    transition: margin-left 0.2s ease;
}
.wrapper__2ea32:hover .link__2ea32,
.side_b3f026 .item_b3f026:hover {
    margin-left: 10px;
}
.membersWrap_c8ffbb .container__91a9d:hover,
.channel__972a0:hover {
    margin-left: 18px;
}