:root {
  --start-angle: 0deg;
  --radial-gradient-gold: transparent 25deg, #ad0057 43.4deg, transparent 60deg, transparent 100deg, transparent 310deg, transparent 408.4deg;
  --radial-gradient-blue: transparent 25deg, #0056ad 43.4deg, transparent 60deg, transparent 100deg, transparent 310deg, transparent 408.4deg;
}



/* Code block base styling */
code {
  font-family: 'Monaspace Xenon' !important; 
  position: relative;
  z-index: 1;
  color: white;
  padding: 1em;
  background-color: #00011e !important;
  overflow: hidden;
  border-radius: 8px;
}

/* Snake animation */
code:not(.inline)::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 3px;
  background: conic-gradient(from var(--start-angle) at 50% 50%, var(--radial-gradient-gold));
  animation: smoothSnakeSpin 4s linear infinite;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}


/* Keyframes with high granularity */
@keyframes smoothSnakeSpin {
  0.0% { background: conic-gradient(from calc(var(--start-angle) + 0.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  0.5% { background: conic-gradient(from calc(var(--start-angle) + 1.8deg) at 50% 50%, var(--radial-gradient-gold)); }
  1.0% { background: conic-gradient(from calc(var(--start-angle) + 3.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  1.5% { background: conic-gradient(from calc(var(--start-angle) + 5.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  2.0% { background: conic-gradient(from calc(var(--start-angle) + 7.2deg) at 50% 50%, var(--radial-gradient-gold)); }
  2.5% { background: conic-gradient(from calc(var(--start-angle) + 9.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  3.0% { background: conic-gradient(from calc(var(--start-angle) + 10.8deg) at 50% 50%, var(--radial-gradient-gold)); }
  3.5% { background: conic-gradient(from calc(var(--start-angle) + 12.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  4.0% { background: conic-gradient(from calc(var(--start-angle) + 14.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  4.5% { background: conic-gradient(from calc(var(--start-angle) + 16.2deg) at 50% 50%, var(--radial-gradient-gold)); }
  5.0% { background: conic-gradient(from calc(var(--start-angle) + 18.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  5.5% { background: conic-gradient(from calc(var(--start-angle) + 19.8deg) at 50% 50%, var(--radial-gradient-gold)); }
  6.0% { background: conic-gradient(from calc(var(--start-angle) + 21.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  6.5% { background: conic-gradient(from calc(var(--start-angle) + 23.400000000000002deg) at 50% 50%, var(--radial-gradient-gold)); }
  7.0% { background: conic-gradient(from calc(var(--start-angle) + 25.2deg) at 50% 50%, var(--radial-gradient-gold)); }
  7.5% { background: conic-gradient(from calc(var(--start-angle) + 27.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  8.0% { background: conic-gradient(from calc(var(--start-angle) + 28.8deg) at 50% 50%, var(--radial-gradient-gold)); }
  8.5% { background: conic-gradient(from calc(var(--start-angle) + 30.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  9.0% { background: conic-gradient(from calc(var(--start-angle) + 32.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  9.5% { background: conic-gradient(from calc(var(--start-angle) + 34.2deg) at 50% 50%, var(--radial-gradient-gold)); }
  10.0% { background: conic-gradient(from calc(var(--start-angle) + 36.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  10.5% { background: conic-gradient(from calc(var(--start-angle) + 37.800000000000004deg) at 50% 50%, var(--radial-gradient-gold)); }
  11.0% { background: conic-gradient(from calc(var(--start-angle) + 39.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  11.5% { background: conic-gradient(from calc(var(--start-angle) + 41.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  12.0% { background: conic-gradient(from calc(var(--start-angle) + 43.2deg) at 50% 50%, var(--radial-gradient-gold)); }
  12.5% { background: conic-gradient(from calc(var(--start-angle) + 45.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  13.0% { background: conic-gradient(from calc(var(--start-angle) + 46.800000000000004deg) at 50% 50%, var(--radial-gradient-gold)); }
  13.5% { background: conic-gradient(from calc(var(--start-angle) + 48.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  14.0% { background: conic-gradient(from calc(var(--start-angle) + 50.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  14.5% { background: conic-gradient(from calc(var(--start-angle) + 52.2deg) at 50% 50%, var(--radial-gradient-gold)); }
  15.0% { background: conic-gradient(from calc(var(--start-angle) + 54.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  15.5% { background: conic-gradient(from calc(var(--start-angle) + 55.800000000000004deg) at 50% 50%, var(--radial-gradient-blue)); }
  16.0% { background: conic-gradient(from calc(var(--start-angle) + 57.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  16.5% { background: conic-gradient(from calc(var(--start-angle) + 59.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  17.0% { background: conic-gradient(from calc(var(--start-angle) + 61.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  17.5% { background: conic-gradient(from calc(var(--start-angle) + 63.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  18.0% { background: conic-gradient(from calc(var(--start-angle) + 64.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  18.5% { background: conic-gradient(from calc(var(--start-angle) + 66.60000000000001deg) at 50% 50%, var(--radial-gradient-blue)); }
  19.0% { background: conic-gradient(from calc(var(--start-angle) + 68.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  19.5% { background: conic-gradient(from calc(var(--start-angle) + 70.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  20.0% { background: conic-gradient(from calc(var(--start-angle) + 72.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  20.5% { background: conic-gradient(from calc(var(--start-angle) + 73.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  21.0% { background: conic-gradient(from calc(var(--start-angle) + 75.60000000000001deg) at 50% 50%, var(--radial-gradient-blue)); }
  21.5% { background: conic-gradient(from calc(var(--start-angle) + 77.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  22.0% { background: conic-gradient(from calc(var(--start-angle) + 79.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  22.5% { background: conic-gradient(from calc(var(--start-angle) + 81.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  23.0% { background: conic-gradient(from calc(var(--start-angle) + 82.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  23.5% { background: conic-gradient(from calc(var(--start-angle) + 84.60000000000001deg) at 50% 50%, var(--radial-gradient-blue)); }
  24.0% { background: conic-gradient(from calc(var(--start-angle) + 86.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  24.5% { background: conic-gradient(from calc(var(--start-angle) + 88.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  25.0% { background: conic-gradient(from calc(var(--start-angle) + 90.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  25.5% { background: conic-gradient(from calc(var(--start-angle) + 91.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  26.0% { background: conic-gradient(from calc(var(--start-angle) + 93.60000000000001deg) at 50% 50%, var(--radial-gradient-blue)); }
  26.5% { background: conic-gradient(from calc(var(--start-angle) + 95.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  27.0% { background: conic-gradient(from calc(var(--start-angle) + 97.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  27.5% { background: conic-gradient(from calc(var(--start-angle) + 99.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  28.0% { background: conic-gradient(from calc(var(--start-angle) + 100.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  28.5% { background: conic-gradient(from calc(var(--start-angle) + 102.60000000000001deg) at 50% 50%, var(--radial-gradient-blue)); }
  29.0% { background: conic-gradient(from calc(var(--start-angle) + 104.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  29.5% { background: conic-gradient(from calc(var(--start-angle) + 106.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  30.0% { background: conic-gradient(from calc(var(--start-angle) + 108.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  30.5% { background: conic-gradient(from calc(var(--start-angle) + 109.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  31.0% { background: conic-gradient(from calc(var(--start-angle) + 111.60000000000001deg) at 50% 50%, var(--radial-gradient-blue)); }
  31.5% { background: conic-gradient(from calc(var(--start-angle) + 113.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  32.0% { background: conic-gradient(from calc(var(--start-angle) + 115.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  32.5% { background: conic-gradient(from calc(var(--start-angle) + 117.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  33.0% { background: conic-gradient(from calc(var(--start-angle) + 118.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  33.5% { background: conic-gradient(from calc(var(--start-angle) + 120.60000000000001deg) at 50% 50%, var(--radial-gradient-blue)); }
  34.0% { background: conic-gradient(from calc(var(--start-angle) + 122.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  34.5% { background: conic-gradient(from calc(var(--start-angle) + 124.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  35.0% { background: conic-gradient(from calc(var(--start-angle) + 126.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  35.5% { background: conic-gradient(from calc(var(--start-angle) + 127.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  36.0% { background: conic-gradient(from calc(var(--start-angle) + 129.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  36.5% { background: conic-gradient(from calc(var(--start-angle) + 131.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  37.0% { background: conic-gradient(from calc(var(--start-angle) + 133.20000000000002deg) at 50% 50%, var(--radial-gradient-blue)); }
  37.5% { background: conic-gradient(from calc(var(--start-angle) + 135.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  38.0% { background: conic-gradient(from calc(var(--start-angle) + 136.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  38.5% { background: conic-gradient(from calc(var(--start-angle) + 138.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  39.0% { background: conic-gradient(from calc(var(--start-angle) + 140.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  39.5% { background: conic-gradient(from calc(var(--start-angle) + 142.20000000000002deg) at 50% 50%, var(--radial-gradient-blue)); }
  40.0% { background: conic-gradient(from calc(var(--start-angle) + 144.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  40.5% { background: conic-gradient(from calc(var(--start-angle) + 145.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  41.0% { background: conic-gradient(from calc(var(--start-angle) + 147.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  41.5% { background: conic-gradient(from calc(var(--start-angle) + 149.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  42.0% { background: conic-gradient(from calc(var(--start-angle) + 151.20000000000002deg) at 50% 50%, var(--radial-gradient-blue)); }
  42.5% { background: conic-gradient(from calc(var(--start-angle) + 153.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  43.0% { background: conic-gradient(from calc(var(--start-angle) + 154.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  43.5% { background: conic-gradient(from calc(var(--start-angle) + 156.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  44.0% { background: conic-gradient(from calc(var(--start-angle) + 158.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  44.5% { background: conic-gradient(from calc(var(--start-angle) + 160.20000000000002deg) at 50% 50%, var(--radial-gradient-blue)); }
  45.0% { background: conic-gradient(from calc(var(--start-angle) + 162.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  45.5% { background: conic-gradient(from calc(var(--start-angle) + 163.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  46.0% { background: conic-gradient(from calc(var(--start-angle) + 165.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  46.5% { background: conic-gradient(from calc(var(--start-angle) + 167.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  47.0% { background: conic-gradient(from calc(var(--start-angle) + 169.20000000000002deg) at 50% 50%, var(--radial-gradient-blue)); }
  47.5% { background: conic-gradient(from calc(var(--start-angle) + 171.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  48.0% { background: conic-gradient(from calc(var(--start-angle) + 172.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  48.5% { background: conic-gradient(from calc(var(--start-angle) + 174.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  49.0% { background: conic-gradient(from calc(var(--start-angle) + 176.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  49.5% { background: conic-gradient(from calc(var(--start-angle) + 178.20000000000002deg) at 50% 50%, var(--radial-gradient-blue)); }
  50.0% { background: conic-gradient(from calc(var(--start-angle) + 180.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  50.5% { background: conic-gradient(from calc(var(--start-angle) + 181.8deg) at 50% 50%, var(--radial-gradient-gold)); }
  51.0% { background: conic-gradient(from calc(var(--start-angle) + 183.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  51.5% { background: conic-gradient(from calc(var(--start-angle) + 185.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  52.0% { background: conic-gradient(from calc(var(--start-angle) + 187.20000000000002deg) at 50% 50%, var(--radial-gradient-gold)); }
  52.5% { background: conic-gradient(from calc(var(--start-angle) + 189.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  53.0% { background: conic-gradient(from calc(var(--start-angle) + 190.8deg) at 50% 50%, var(--radial-gradient-gold)); }
  53.5% { background: conic-gradient(from calc(var(--start-angle) + 192.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  54.0% { background: conic-gradient(from calc(var(--start-angle) + 194.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  54.5% { background: conic-gradient(from calc(var(--start-angle) + 196.20000000000002deg) at 50% 50%, var(--radial-gradient-gold)); }
  55.0% { background: conic-gradient(from calc(var(--start-angle) + 198.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  55.5% { background: conic-gradient(from calc(var(--start-angle) + 199.8deg) at 50% 50%, var(--radial-gradient-gold)); }
  56.0% { background: conic-gradient(from calc(var(--start-angle) + 201.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  56.5% { background: conic-gradient(from calc(var(--start-angle) + 203.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  57.0% { background: conic-gradient(from calc(var(--start-angle) + 205.20000000000002deg) at 50% 50%, var(--radial-gradient-gold)); }
  57.5% { background: conic-gradient(from calc(var(--start-angle) + 207.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  58.0% { background: conic-gradient(from calc(var(--start-angle) + 208.8deg) at 50% 50%, var(--radial-gradient-gold)); }
  58.5% { background: conic-gradient(from calc(var(--start-angle) + 210.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  59.0% { background: conic-gradient(from calc(var(--start-angle) + 212.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  59.5% { background: conic-gradient(from calc(var(--start-angle) + 214.20000000000002deg) at 50% 50%, var(--radial-gradient-gold)); }
  60.0% { background: conic-gradient(from calc(var(--start-angle) + 216.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  60.5% { background: conic-gradient(from calc(var(--start-angle) + 217.8deg) at 50% 50%, var(--radial-gradient-gold)); }
  61.0% { background: conic-gradient(from calc(var(--start-angle) + 219.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  61.5% { background: conic-gradient(from calc(var(--start-angle) + 221.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  62.0% { background: conic-gradient(from calc(var(--start-angle) + 223.20000000000002deg) at 50% 50%, var(--radial-gradient-gold)); }
  62.5% { background: conic-gradient(from calc(var(--start-angle) + 225.0deg) at 50% 50%, var(--radial-gradient-gold)); }
  63.0% { background: conic-gradient(from calc(var(--start-angle) + 226.8deg) at 50% 50%, var(--radial-gradient-gold)); }
  63.5% { background: conic-gradient(from calc(var(--start-angle) + 228.6deg) at 50% 50%, var(--radial-gradient-gold)); }
  64.0% { background: conic-gradient(from calc(var(--start-angle) + 230.4deg) at 50% 50%, var(--radial-gradient-gold)); }
  64.5% { background: conic-gradient(from calc(var(--start-angle) + 232.20000000000002deg) at 50% 50%, var(--radial-gradient-gold)); }
  65.0% { background: conic-gradient(from calc(var(--start-angle) + 234.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  65.5% { background: conic-gradient(from calc(var(--start-angle) + 235.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  66.0% { background: conic-gradient(from calc(var(--start-angle) + 237.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  66.5% { background: conic-gradient(from calc(var(--start-angle) + 239.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  67.0% { background: conic-gradient(from calc(var(--start-angle) + 241.20000000000002deg) at 50% 50%, var(--radial-gradient-blue)); }
  67.5% { background: conic-gradient(from calc(var(--start-angle) + 243.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  68.0% { background: conic-gradient(from calc(var(--start-angle) + 244.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  68.5% { background: conic-gradient(from calc(var(--start-angle) + 246.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  69.0% { background: conic-gradient(from calc(var(--start-angle) + 248.4deg) at 50% 50%, var(--radial-gradient-blue)); }
  69.5% { background: conic-gradient(from calc(var(--start-angle) + 250.20000000000002deg) at 50% 50%, var(--radial-gradient-blue)); }
  70.0% { background: conic-gradient(from calc(var(--start-angle) + 252.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  70.5% { background: conic-gradient(from calc(var(--start-angle) + 253.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  71.0% { background: conic-gradient(from calc(var(--start-angle) + 255.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  71.5% { background: conic-gradient(from calc(var(--start-angle) + 257.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  72.0% { background: conic-gradient(from calc(var(--start-angle) + 259.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  72.5% { background: conic-gradient(from calc(var(--start-angle) + 261.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  73.0% { background: conic-gradient(from calc(var(--start-angle) + 262.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  73.5% { background: conic-gradient(from calc(var(--start-angle) + 264.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  74.0% { background: conic-gradient(from calc(var(--start-angle) + 266.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  74.5% { background: conic-gradient(from calc(var(--start-angle) + 268.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  75.0% { background: conic-gradient(from calc(var(--start-angle) + 270.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  75.5% { background: conic-gradient(from calc(var(--start-angle) + 271.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  76.0% { background: conic-gradient(from calc(var(--start-angle) + 273.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  76.5% { background: conic-gradient(from calc(var(--start-angle) + 275.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  77.0% { background: conic-gradient(from calc(var(--start-angle) + 277.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  77.5% { background: conic-gradient(from calc(var(--start-angle) + 279.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  78.0% { background: conic-gradient(from calc(var(--start-angle) + 280.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  78.5% { background: conic-gradient(from calc(var(--start-angle) + 282.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  79.0% { background: conic-gradient(from calc(var(--start-angle) + 284.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  79.5% { background: conic-gradient(from calc(var(--start-angle) + 286.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  80.0% { background: conic-gradient(from calc(var(--start-angle) + 288.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  80.5% { background: conic-gradient(from calc(var(--start-angle) + 289.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  81.0% { background: conic-gradient(from calc(var(--start-angle) + 291.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  81.5% { background: conic-gradient(from calc(var(--start-angle) + 293.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  82.0% { background: conic-gradient(from calc(var(--start-angle) + 295.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  82.5% { background: conic-gradient(from calc(var(--start-angle) + 297.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  83.0% { background: conic-gradient(from calc(var(--start-angle) + 298.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  83.5% { background: conic-gradient(from calc(var(--start-angle) + 300.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  84.0% { background: conic-gradient(from calc(var(--start-angle) + 302.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  84.5% { background: conic-gradient(from calc(var(--start-angle) + 304.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  85.0% { background: conic-gradient(from calc(var(--start-angle) + 306.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  85.5% { background: conic-gradient(from calc(var(--start-angle) + 307.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  86.0% { background: conic-gradient(from calc(var(--start-angle) + 309.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  86.5% { background: conic-gradient(from calc(var(--start-angle) + 311.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  87.0% { background: conic-gradient(from calc(var(--start-angle) + 313.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  87.5% { background: conic-gradient(from calc(var(--start-angle) + 315.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  88.0% { background: conic-gradient(from calc(var(--start-angle) + 316.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  88.5% { background: conic-gradient(from calc(var(--start-angle) + 318.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  89.0% { background: conic-gradient(from calc(var(--start-angle) + 320.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  89.5% { background: conic-gradient(from calc(var(--start-angle) + 322.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  90.0% { background: conic-gradient(from calc(var(--start-angle) + 324.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  90.5% { background: conic-gradient(from calc(var(--start-angle) + 325.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  91.0% { background: conic-gradient(from calc(var(--start-angle) + 327.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  91.5% { background: conic-gradient(from calc(var(--start-angle) + 329.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  92.0% { background: conic-gradient(from calc(var(--start-angle) + 331.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  92.5% { background: conic-gradient(from calc(var(--start-angle) + 333.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  93.0% { background: conic-gradient(from calc(var(--start-angle) + 334.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  93.5% { background: conic-gradient(from calc(var(--start-angle) + 336.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  94.0% { background: conic-gradient(from calc(var(--start-angle) + 338.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  94.5% { background: conic-gradient(from calc(var(--start-angle) + 340.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  95.0% { background: conic-gradient(from calc(var(--start-angle) + 342.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  95.5% { background: conic-gradient(from calc(var(--start-angle) + 343.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  96.0% { background: conic-gradient(from calc(var(--start-angle) + 345.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  96.5% { background: conic-gradient(from calc(var(--start-angle) + 347.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  97.0% { background: conic-gradient(from calc(var(--start-angle) + 349.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  97.5% { background: conic-gradient(from calc(var(--start-angle) + 351.0deg) at 50% 50%, var(--radial-gradient-blue)); }
  98.0% { background: conic-gradient(from calc(var(--start-angle) + 352.8deg) at 50% 50%, var(--radial-gradient-blue)); }
  98.5% { background: conic-gradient(from calc(var(--start-angle) + 354.6deg) at 50% 50%, var(--radial-gradient-blue)); }
  99.0% { background: conic-gradient(from calc(var(--start-angle) + 356.40000000000003deg) at 50% 50%, var(--radial-gradient-blue)); }
  99.5% { background: conic-gradient(from calc(var(--start-angle) + 358.2deg) at 50% 50%, var(--radial-gradient-blue)); }
  100.0% { background: conic-gradient(from calc(var(--start-angle) + 360.0deg) at 50% 50%, var(--radial-gradient-blue)); }
}
/* acrylic + pastel rgb footer */ 

.footer_d8e2d0 {
    background: linear-gradient(135deg, 
        rgba(255, 183, 197, 0.6),  
        rgba(255, 223, 186, 0.6),  
        rgba(255, 249, 196, 0.6),  
        rgba(202, 255, 191, 0.6),  
        rgba(186, 244, 255, 0.6),  
        rgba(206, 186, 255, 0.6)
    );
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* misc */ 

.shiki-container {
    background-color: transparent !important;
}


/* copy button */ 
.shiki-btn{
        background-color: rgba(239, 0, 88, 0.493) !important;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(100px) saturate(110%);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        padding: 5px;
        
}

.shiki-btn:hover{
  background-color: rgba(239, 0, 88, 0.619) !important;
        border-radius: 12px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        transform: translateY(-4px);
}


/* 

:root {
  --shiny-cta-bg: #000000;
  --shiny-cta-bg-subtle: #1a1818;
  --shiny-cta-fg: #ffffff;
  --shiny-cta-highlight: blue;
  --shiny-cta-highlight-subtle: #8484ff;
}

code {
  --animation: gradient-angle linear infinite;
  --duration: 3s;
  --shadow-size: 2px;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline-offset: 4px;
  padding: 1.25rem 2.5rem;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 360px;
  color: var(--shiny-cta-fg);
  background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg))
      padding-box,
    conic-gradient(
        from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
        transparent,
        var(--shiny-cta-highlight) var(--gradient-percent),
        var(--gradient-shine) calc(var(--gradient-percent) * 2),
        var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3),
        transparent calc(var(--gradient-percent) * 4)
      )
      border-box;
  box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle);

  &::before,
  &::after,
  span::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    z-index: -1;
  }

  &:active {
    translate: 0 1px;
  }
}

/* Dots pattern */

/*
code::before {
  --size: calc(100% - var(--shadow-size) * 3);
  --position: 2px;
  --space: calc(var(--position) * 2);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
      circle at var(--position) var(--position),
      white calc(var(--position) / 4),
      transparent 0
    )
    padding-box;
  background-size: var(--space) var(--space);
  background-repeat: space;
  mask-image: conic-gradient(
    from calc(var(--gradient-angle) + 45deg),
    black,
    transparent 10% 90%,
    black
  );
  border-radius: inherit;
  opacity: 0.4;
  z-index: -1;
}

/* Inner shimmer 
code::after {
  --animation: shimmer linear infinite;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(
    -50deg,
    transparent,
    var(--shiny-cta-highlight),
    transparent
  );
  mask-image: radial-gradient(circle at bottom, transparent 40%, black);
  opacity: 0.6;
}


/* Animate 
code {
  --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: var(--transition);
  transition-property: --gradient-angle-offset, --gradient-percent,
    --gradient-shine;

  &,
  &::before,
  &::after {
    animation: var(--animation) var(--duration),
      var(--animation) calc(var(--duration) / 0.4) reverse paused;
    animation-composition: add;
  }
}

code:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);

  &,
  &::before,
  &::after {
    animation-play-state: running;
  }

  span::before {
    opacity: 1;
  }
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes shimmer {
  to {
    rotate: 360deg;
  }
}

@keyframes breathe {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  color: white;
  background: #02040c;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
