
:root {

	/* accent colors */
	--accent-pills: hsl(0, 84%, 68%); /* general unread/mention elements */


	/* text colors */

	--text-pills: hsl(0, 0%, 100%); /* normal text */



}



/* Notification pills (shining effect) */

.unread__2ea32.unreadImportant__2ea32  {
	background-color: var(--text-pills);
	box-shadow: 0 0 10px 2px var(--accent-pills);
}


:root {
    --list-item-transition: 0.2s ease;
}
.wrapper__2ea32 .link__2ea32 {
    transition: margin-left var(--list-item-transition);
}
.wrapper__2ea32:hover .link__2ea32 {
    margin-left: 10px;
}
.unread__2ea32 {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    transition: var(--list-item-transition);
}
.wrapper__2ea32:hover .unread__2ea32 {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: 3px;
    background-color: transparent;
    background: url('https://cdn.discordapp.com/emojis/1295959743843663903.webp?size=240');
    background-size: 12px;
    background-position: center;
}